* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 nav ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: wrap;
}

nav ul li {
  list-style-type: none;
}

nav ul li {
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  margin-left: 5px;
  display: block;
  width: 200px;
  text-align: center;
}

.active {
  background-color: orangered;
  color: #fff;
}

.ip_hover_here:hover .ip_address_list {
  display: block;
}
.ip_address_list {
  display: block;
  position: absolute;
  top: 18px;
  left: -6px;
}

 .ip_address_list  {
  background-color: cadetblue;

 }
/* .ip_address_list.hidden {
  display: none;
} */

a {
  text-decoration: none;
  color: white;
}

nav ul li  {
  background-color: cadetblue;
} */
/* .list,
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.active,
.btn:hover,
.list:hover {
  background-color: #666;
  color: white;
} */
