* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#language {
  border: 1px solid red;
}

.hidden {
  display: none;
}

#btnUnset {
  position: fixed;
  right: 20px;
}

.green {
  color: green;
}
