@media screen and (max-width: 425px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  .bgcolor,
  nav ul li a {
    width: 97.5%;
    display: inline-block;
    height: 50px;
  }
  .bgcolor {
    min-width: unset;
  }

  body {
    background-color: lightgreen;
  }

  .ip_address_list {
    display: block;
    width: 103.5%;
    margin-left: -1px;
    top: 30px;
  }
  /* .moveMe {
    position: relative;
    top: 200px;
  } */
}
