* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  display: flex;
  height: 100vh;
}

.side_content {
  padding: 30px;
  /* width: 30%; */
  background: #ddd;
  width: 284.719px;
}

.main_content {
  padding: 30px;
  width: 70%;
}

.btn {
  padding: 0 10px;
}

.delete {
  position: absolute;
  right: 0;
}

#deleteAll {
  position: absolute;
  right: 0px;
  bottom: -40px;
  display: none;
}

.title_list {
  position: relative;
}

.mab10 {
  margin-bottom: 10px;
}

#deleteAll.showButton {
  display: block !important;
}

.myNav {
  list-style-type: none;
}

.myNav li {
  padding: 10px;
}

.myNav li:hover {
  color: blue;
}

.main_content li {
  list-style-type: none;
}

.main_content .ip_address {
  display: flex !important;
  color: red !important;
  font-size: 20px;
}

.main_content .ip_address li {
  margin-left: 10px;
  background-color: orangered;
  padding: 20px;
}

.main_content .ip_address li a {
  color: white;
  text-decoration: none;
}
